<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments="./guest_house_management_backend.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />

					<environmentVariable name="ConnectionStrings__Default" value="Data Source=127.0.0.1,1433;Initial Catalog=GuestHouseDb-Refactored;Integrated Security=True;TrustServerCertificate=True;" />

					<environmentVariable name="JWT__Secret" value="ThisIsMySecretJWTKeyWritingSomeRandomText" />
					<environmentVariable name="JWT__ValidIssuer" value="https://172.16.0.97:8080" />
					<environmentVariable name="JWT__ValidAudience" value="User" />

					<environmentVariable name="EmailSettings__SmtpServer" value="smtp.gmail.com" />
					<environmentVariable name="EmailSettings__Port" value="587" />
					<environmentVariable name="EmailSettings__SenderEmail" value="guesthousemanagement983@gmail.com" />
					<environmentVariable name="EmailSettings__Password" value="yygrbxcgfyiuovlp" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>